* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

.header {
    width: 100%;
    height: 600px;
    background-image: url(../image/banner11.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.header_text {
    position: relative;
    left: 150px;
    top: 150px;
    background: rgba(33, 191, 252, 0.35);
    width: 400px;
    padding: 2%;
    border-bottom: 5px solid #02b6fc;
}

.header_text h1 {
    color: #fff;
    text-shadow: -1px 0 1px rgb(214 214 214 / 59%);
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

.header_text h2 {
    text-shadow: -1px 0 1px rgb(214 214 214 / 59%);
    font-weight: 100;
    margin: 10px 0 5px 0;
    color: #fff;
}

.header_text p {
    line-height: 1.5em;
    font-weight: 100;
    width: 80%;
    margin-bottom: 5%;
    color: #fff;
}

.banner_btn {
    text-align: center;
}

.banner_btn a {
    background: none;
    font-size: 1em;
    padding: 9px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 100;
    border: 1px solid #FFF;
    text-decoration: none;
}