.carousel-indicators>button {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50%;
}

.behind {
    padding: 100px;
    text-align: center;
    background-color: black;
    color: white !important;
}

.behind:hover {
    opacity: 0.8;
}