h1 {
    color: blue;
}


/* p {
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
} */

ul>li {
    color: red;
}


/* ul>li {
    color: rebeccapurple;
} */

div>div>p {
    color: brown;
}

div>p {
    color: chartreuse;
}

div>h2 {
    color: cornflowerblue;
}